@model CookBook.ViewModels.ProfileViewModel
@{
    /**/

    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="myJumbotron text-center text-light" style="font-size:40px">Dobrodošli @Model.User.UserName</div>
<br /><br />
<h4>Recepti koje sve dodavali:</h4><br /><br />

<input id="searchInput" class="form-control" type="text" placeholder="Search" aria-label="Search">
<div class="row" id="rowDiv">
    @foreach (var item in Model.Recipes)
    {
        <div class="col-9">
            <div>
                @Html.ActionLink(item.Name, "Details", "Recipes", routeValues: new { @id = item.Id }, htmlAttributes: new { @style = "font-size:30px" })
            </div>
            <div>
                <img class="rounded shadow-lg img-thumbnail" src="@Url.Content(Model.ImagesPaths[Model.Recipes.IndexOf(item)])" style="width:100%" />
            </div>
        </div>
    }
</div>


<script>
    $(document).ready(function () {
        $("#searchInput").change(function () {
            var filter = $(this).val().toUpperCase();
            var a = $("#rowDiv").find("a");
            var txtValue;
            for (var i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    $(a[i]).parents().eq(1).show();
                } else {
                    $(a[i]).parents().eq(1).hide();
                }
            }
        
        });



    });
    //function myFunction() {
    //    var input, filter, ul, li, a, i, txtValue;
    //    input = document.getElementById("searchInput");
    //    filter = input.value.toUpperCase();
    //    ul = document.getElementById("rowDiv");
    //    li = ul.getElementsByTagName("div");
    //    for (i = 0; i < li.length; i++) {
    //        a = li[i].getElementsByTagName("a")[0];
    //        txtValue = a.textContent || a.innerText;
    //        if (txtValue.toUpperCase().indexOf(filter) > -1) {
    //            li[i].style.display = "";
    //        } else {
    //            li[i].style.display = "none";
    //        }
    //    }
    //}
</script>

