@model IEnumerable<CookBook.Models.Recipe>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spisak recepata</h2>


<div class="container shadow-lg">
    
        <h2>Recepti</h2>
        @if (!Model.Any())
        {
            <p>Nazalost, nema jos nijednog recepta. </p>
        }
        else
        {
            <div class="row">
                @foreach (var item in Model)
                {

                <div class="col-lg-3 col-md-4 col-sm-6">

                    @Html.ActionLink(item.Name, "Details", "Recipes", new { id = item.Id }, new { @class = "thumbnail" })
                    <img src="~/RecipeFiles/@item.Id/slike/1.jpg" />
                </div>
                }
            </div>

        }
            



</div>


