@model CookBook.ViewModels.RecipesViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodati novi recept</h2>

@using (@Html.BeginForm("Create", "Recipes"))
{
    <div class="container">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(m => m.Recipe.Name)
                @Html.TextBoxFor(m => m.Recipe.Name)
            </div>
        </div>
    </div>
   
}
