body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}





.pozadina {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+87 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 87%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 87%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 87%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


.naslov {
    margin-top: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+57,febbbb+57,fe9090+62,fe9090+62,ff5c5c+100 */
    background: rgb(254,187,187); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(254,187,187,1) 57%, rgba(254,187,187,1) 57%, rgba(254,144,144,1) 62%, rgba(254,144,144,1) 62%, rgba(255,92,92,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(254,187,187,1) 57%,rgba(254,187,187,1) 57%,rgba(254,144,144,1) 62%,rgba(254,144,144,1) 62%,rgba(255,92,92,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(254,187,187,1) 57%,rgba(254,187,187,1) 57%,rgba(254,144,144,1) 62%,rgba(254,144,144,1) 62%,rgba(255,92,92,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/*myButton style*/


.Mybutton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #F3969A;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

    .Mybutton:hover {
        background-color: #ed4e54
    }

    .Mybutton:active {
        background-color: #e9b0b2;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


.myBody {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
    background: rgb(242,249,254); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */
}


.field-validation-error {
    color: red;
}
.input-validation-error {
    border: 2px solid red;
}

.Mydefault {
    border: 2px solid black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: #e7e7e7;
    color: black;
}

    .Mydefault:hover {
        background: #e7e7e7;
    }




   /*details view*/

/* The grid: Four equal columns that floats next to each other */
/*.Mycolumn {
    float: left;
    padding: 10px;
}*/

    /* Style the images inside the grid */
    /*.Mycolumn img {
        opacity: 0.8;
        cursor: pointer;

    }

        .column img:hover {
            opacity: 1;
        }*/

/* Clear floats after the columns */
/*.Myrow:after {
    content: "";
    display: table;
    clear: both;
}*/

/* The expanding image container */
.Mycontainer {
   
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}


.Mythumbnail {
    padding: 0.25rem;
    background-color: rgba(214,240,253,1);
    border: 10px solid #3399fe;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}


.classForBody {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.myClassForActionLink {
    font-size:20px;
    color:black;
}

.classForLogin {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bee4f8+0,bee4f8+6,e1ffff+52,e1ffff+52,e1ffff+66,e1ffff+66 */
    background: rgb(190,228,248); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(190,228,248,1) 0%, rgba(190,228,248,1) 6%, rgba(225,255,255,1) 52%, rgba(225,255,255,1) 52%, rgba(225,255,255,1) 66%, rgba(225,255,255,1) 66%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(190,228,248,1) 0%,rgba(190,228,248,1) 6%,rgba(225,255,255,1) 52%,rgba(225,255,255,1) 52%,rgba(225,255,255,1) 66%,rgba(225,255,255,1) 66%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(190,228,248,1) 0%,rgba(190,228,248,1) 6%,rgba(225,255,255,1) 52%,rgba(225,255,255,1) 52%,rgba(225,255,255,1) 66%,rgba(225,255,255,1) 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bee4f8', endColorstr='#e1ffff',GradientType=0 ); /* IE6-9 */
}

.myJumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: 5px;
    background-color: #1cedca;
    border-radius: 0.3rem;
}

.classForIndexPage {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+31,ad1283+67,de47ac+100 */
    background: rgb(203,96,179); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(203,96,179,1) 31%, rgba(173,18,131,1) 67%, rgba(222,71,172,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(203,96,179,1) 31%,rgba(173,18,131,1) 67%,rgba(222,71,172,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(203,96,179,1) 31%,rgba(173,18,131,1) 67%,rgba(222,71,172,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.classForNew {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+50,fba6e1+76,fd89d7+79,ff7cd8+100 */
    background: rgb(252,236,252); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,236,252,1) 50%, rgba(251,166,225,1) 76%, rgba(253,137,215,1) 79%, rgba(255,124,216,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,236,252,1) 50%,rgba(251,166,225,1) 76%,rgba(253,137,215,1) 79%,rgba(255,124,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(252,236,252,1) 50%,rgba(251,166,225,1) 76%,rgba(253,137,215,1) 79%,rgba(255,124,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.classForPartialView {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
    background: rgb(240,183,161); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}